# Mod 5 Final Project

Jeremy Owens

Import necessary libraries

In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVC
from sklearn.decomposition import PCA
from sklearn.metrics import classification_report, confusion_matrix , accuracy_score, mean_squared_error

%matplotlib inline

## Data Cleaning / EDA

We begin our process by reading in the 2016 School Explorer Dataset and eliminating a variety of columns that are not useful to our analysis

In [56]:
schools_df = pd.read_csv('2016 School Explorer.csv')
cols_to_drop = ['Adjusted Grade', 
                'New?', 
                'Other Location Code in LCGMS',
                'School Name',
                'SED Code', 
                'Latitude', 
                'Longitude',
                'Address (Full)',
                'City',
                'Zip',
                'Grades',
                'Rigorous Instruction Rating',
                'Collaborative Teachers Rating',
                'Supportive Environment Rating',
                'Effective School Leadership Rating',
                'Strong Family-Community Ties Rating',
                'Trust Rating',
                'School Income Estimate',
                'Grade 3 ELA - All Students Tested',
                'Grade 3 ELA 4s - All Students',
                'Grade 3 ELA 4s - American Indian or Alaska Native',
                'Grade 3 ELA 4s - Black or African American',
                'Grade 3 ELA 4s - Hispanic or Latino',
                'Grade 3 ELA 4s - Asian or Pacific Islander',
                'Grade 3 ELA 4s - White',
                'Grade 3 ELA 4s - Multiracial',
                'Grade 3 ELA 4s - Limited English Proficient',
                'Grade 3 ELA 4s - Economically Disadvantaged',
                'Grade 3 Math - All Students tested',
                'Grade 3 Math 4s - All Students',
                'Grade 3 Math 4s - American Indian or Alaska Native',
                'Grade 3 Math 4s - Black or African American',
                'Grade 3 Math 4s - Hispanic or Latino',
                'Grade 3 Math 4s - Asian or Pacific Islander',
                'Grade 3 Math 4s - White',
                'Grade 3 Math 4s - Multiracial',
                'Grade 3 Math 4s - Limited English Proficient',
                'Grade 3 Math 4s - Economically Disadvantaged',
                'Grade 4 ELA - All Students Tested',
                'Grade 4 ELA 4s - All Students',
                'Grade 4 ELA 4s - American Indian or Alaska Native',
                'Grade 4 ELA 4s - Black or African American',
                'Grade 4 ELA 4s - Hispanic or Latino',
                'Grade 4 ELA 4s - Asian or Pacific Islander',
                'Grade 4 ELA 4s - White',
                'Grade 4 ELA 4s - Multiracial',
                'Grade 4 ELA 4s - Limited English Proficient',
                'Grade 4 ELA 4s - Economically Disadvantaged',
                'Grade 4 Math - All Students Tested',
                'Grade 4 Math 4s - All Students',
                'Grade 4 Math 4s - American Indian or Alaska Native',
                'Grade 4 Math 4s - Black or African American',
                'Grade 4 Math 4s - Hispanic or Latino',
                'Grade 4 Math 4s - Asian or Pacific Islander',
                'Grade 4 Math 4s - White',
                'Grade 4 Math 4s - Multiracial',
                'Grade 4 Math 4s - Limited English Proficient',
                'Grade 4 Math 4s - Economically Disadvantaged',
                'Grade 5 ELA - All Students Tested',
                'Grade 5 ELA 4s - All Students',
                'Grade 5 ELA 4s - American Indian or Alaska Native',
                'Grade 5 ELA 4s - Black or African American',
                'Grade 5 ELA 4s - Hispanic or Latino',
                'Grade 5 ELA 4s - Asian or Pacific Islander',
                'Grade 5 ELA 4s - White',
                'Grade 5 ELA 4s - Multiracial',
                'Grade 5 ELA 4s - Limited English Proficient',
                'Grade 5 ELA 4s - Economically Disadvantaged',
                'Grade 5 Math - All Students Tested',
                'Grade 5 Math 4s - All Students',
                'Grade 5 Math 4s - American Indian or Alaska Native',
                'Grade 5 Math 4s - Black or African American',
                'Grade 5 Math 4s - Hispanic or Latino',
                'Grade 5 Math 4s - Asian or Pacific Islander',
                'Grade 5 Math 4s - White',
                'Grade 5 Math 4s - Multiracial',
                'Grade 5 Math 4s - Limited English Proficient',
                'Grade 5 Math 4s - Economically Disadvantaged',
                'Grade 6 ELA - All Students Tested',
                'Grade 6 ELA 4s - All Students',
                'Grade 6 ELA 4s - American Indian or Alaska Native',
                'Grade 6 ELA 4s - Black or African American',
                'Grade 6 ELA 4s - Hispanic or Latino',
                'Grade 6 ELA 4s - Asian or Pacific Islander',
                'Grade 6 ELA 4s - White',
                'Grade 6 ELA 4s - Multiracial',
                'Grade 6 ELA 4s - Limited English Proficient',
                'Grade 6 ELA 4s - Economically Disadvantaged',
                'Grade 6 Math - All Students Tested',
                'Grade 6 Math 4s - All Students',
                'Grade 6 Math 4s - American Indian or Alaska Native',
                'Grade 6 Math 4s - Black or African American',
                'Grade 6 Math 4s - Hispanic or Latino',
                'Grade 6 Math 4s - Asian or Pacific Islander',
                'Grade 6 Math 4s - White',
                'Grade 6 Math 4s - Multiracial',
                'Grade 6 Math 4s - Limited English Proficient',
                'Grade 6 Math 4s - Economically Disadvantaged',
                'Grade 7 ELA - All Students Tested',
                'Grade 7 ELA 4s - All Students',
                'Grade 7 ELA 4s - American Indian or Alaska Native',
                'Grade 7 ELA 4s - Black or African American',
                'Grade 7 ELA 4s - Hispanic or Latino',
                'Grade 7 ELA 4s - Asian or Pacific Islander',
                'Grade 7 ELA 4s - White',
                'Grade 7 ELA 4s - Multiracial',
                'Grade 7 ELA 4s - Limited English Proficient',
                'Grade 7 ELA 4s - Economically Disadvantaged',
                'Grade 7 Math - All Students Tested',
                'Grade 7 Math 4s - All Students',
                'Grade 7 Math 4s - American Indian or Alaska Native',
                'Grade 7 Math 4s - Black or African American',
                'Grade 7 Math 4s - Hispanic or Latino',
                'Grade 7 Math 4s - Asian or Pacific Islander',
                'Grade 7 Math 4s - White',
                'Grade 7 Math 4s - Multiracial',
                'Grade 7 Math 4s - Limited English Proficient',
                'Grade 7 Math 4s - Economically Disadvantaged',
                'Grade 8 ELA - All Students Tested',
                'Grade 8 ELA 4s - All Students',
                'Grade 8 ELA 4s - American Indian or Alaska Native',
                'Grade 8 ELA 4s - Black or African American',
                'Grade 8 ELA 4s - Hispanic or Latino',
                'Grade 8 ELA 4s - Asian or Pacific Islander',
                'Grade 8 ELA 4s - White',
                'Grade 8 ELA 4s - Multiracial',
                'Grade 8 ELA 4s - Limited English Proficient',
                'Grade 8 ELA 4s - Economically Disadvantaged',
                'Grade 8 Math - All Students Tested',
                'Grade 8 Math 4s - All Students',
                'Grade 8 Math 4s - American Indian or Alaska Native',
                'Grade 8 Math 4s - Black or African American',
                'Grade 8 Math 4s - Hispanic or Latino',
                'Grade 8 Math 4s - Asian or Pacific Islander',
                'Grade 8 Math 4s - White',
                'Grade 8 Math 4s - Multiracial',
                'Grade 8 Math 4s - Limited English Proficient',
                'Grade 8 Math 4s - Economically Disadvantaged'
                ]
schools_df.drop(cols_to_drop, axis=1, inplace=True)

In [57]:
def acheivement_score(rating):
    '''
    Takes the rating passed to it and returns an integer
    value representing how school meets target goals
    '''
    if rating == 'Exceeding Target':
        return 4
    if rating == 'Meeting Target':
        return 3
    if rating == 'Approaching Target':
        return 2
    if rating == 'Not Meeting Target':
        return 1
    else:
        return None

In [58]:
def percent_cols_to_float(df):
    '''
    For any dataframe passed in, returns a new dataframe where
    values are floats between 0 and 1 representing the respective
    rate or percent in that column
    '''
    for col in df.columns:
        if 'Rate' in col or 'Percent' in col or '%' in col:
            df[col] = df[col].apply(lambda x: float(x.replace('%',''))*.01)
    return df

In [59]:
def make_grades_int(grade):
    '''
    Takes a grade and returns an integer representative of that 
    grade in the school system
    '''
    if grade == 'PK':
        return -1
    elif grade == '0K':
        return 0
    else:
        return int(grade)

In [60]:
schools_df['Student Achievement Rating'] = schools_df['Student Achievement Rating'].apply(lambda x: acheivement_score(x))

In [61]:
schools_df['Student Achievement Rating'].fillna(schools_df['Student Achievement Rating'].median(), inplace=True)

In [62]:
schools_df.dropna(inplace=True)

In [63]:
schools_df = percent_cols_to_float(schools_df)

In [64]:
races_to_drop = ['Percent ELL',
                 'Percent Asian',
                 'Percent Black',
                 'Percent Hispanic',
                 'Percent Black / Hispanic',
                 'Percent White']
race_df = schools_df[['Location Code'] + races_to_drop].set_index('Location Code')
schools_df = schools_df.drop(races_to_drop, axis=1).set_index('Location Code')

In [65]:
schools_df['Community School?'] = schools_df['Community School?'].apply(lambda x: 1 if x=='Yes' else 0)

In [66]:
schools_df['Grade Low'] = schools_df['Grade Low'].apply(lambda x: make_grades_int(x))
schools_df['Grade High'] = schools_df['Grade High'].apply(lambda x: make_grades_int(x))
schools_df['Grade_range'] = schools_df['Grade High'] - schools_df['Grade Low']
schools_df.drop(['Grade Low', 'Grade High'], axis=1, inplace=True)

In [83]:
pupil_teacher_ratio_df = pd.read_csv('2015_-_2016_Final_Class_Size_Report_Pupil-to-Teacher_Ratio__PTR_.csv')
pupil_teacher_ratio_df = pupil_teacher_ratio_df.drop('School Name', axis=1).set_index('DBN')

In [84]:
final_df = schools_df.join(pupil_teacher_ratio_df)

In [85]:
display(final_df.info())
display(final_df.head())
display(race_df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 1217 entries, 01M015 to 84X730
Data columns (total 16 columns):
District                                  1217 non-null int64
Community School?                         1217 non-null int64
Economic Need Index                       1217 non-null float64
Student Attendance Rate                   1217 non-null float64
Percent of Students Chronically Absent    1217 non-null float64
Rigorous Instruction %                    1217 non-null float64
Collaborative Teachers %                  1217 non-null float64
Supportive Environment %                  1217 non-null float64
Effective School Leadership %             1217 non-null float64
Strong Family-Community Ties %            1217 non-null float64
Trust %                                   1217 non-null float64
Student Achievement Rating                1217 non-null float64
Average ELA Proficiency                   1217 non-null float64
Average Math Proficiency                  1217 non-null float64
Grade_range                               1217 non-null int64
School Pupil-Teacher Ratio                1083 non-null float64
dtypes: float64(13), int64(3)
memory usage: 201.6+ KB

None

,District,Community School?,Economic Need Index,Student Attendance Rate,Percent of Students Chronically Absent,Rigorous Instruction %,Collaborative Teachers %,Supportive Environment %,Effective School Leadership %,Strong Family-Community Ties %,Trust %,Student Achievement Rating,Average ELA Proficiency,Average Math Proficiency,Grade_range,School Pupil-Teacher Ratio
Location Code,,,,,,,,,,,,,,,,
01M015,1,1,0.919,0.94,0.18,0.89,0.94,0.86,0.91,0.85,0.94,2.0,2.14,2.17,6,9.2
01M019,1,0,0.641,0.92,0.30,0.96,0.96,0.97,0.90,0.86,0.94,4.0,2.63,2.98,6,7.0
01M020,1,0,0.744,0.94,0.20,0.87,0.77,0.82,0.61,0.80,0.79,2.0,2.39,2.54,6,13.3
01M034,1,0,0.860,0.92,0.28,0.85,0.78,0.82,0.73,0.89,0.88,4.0,2.48,2.47,9,10.9
01M063,1,0,0.730,0.93,0.23,0.90,0.88,0.87,0.81,0.89,0.93,3.0,2.38,2.54,6,10.6

,Percent ELL,Percent Asian,Percent Black,Percent Hispanic,Percent Black / Hispanic,Percent White
Location Code,,,,,,
01M015,0.09,0.05,0.32,0.60,0.92,0.01
01M019,0.05,0.10,0.20,0.63,0.83,0.06
01M020,0.15,0.35,0.08,0.49,0.57,0.04
01M034,0.07,0.05,0.29,0.63,0.92,0.04
01M063,0.03,0.04,0.20,0.65,0.84,0.10

## EDA

# Working Zone

In [ ]:
shsat_df = pd.read_csv('D5 SHSAT Registrations and Testers.csv')
print(len(shsat_df))
shsat_df.head()

In [ ]:
shsat_df['Enroll_register'] = round(shsat_df['Number of students who registered for the SHSAT'] / shsat_df['Enrollment on 10/31'], 4)
shsat_df['Enroll_took'] = round(shsat_df['Number of students who took the SHSAT'] / shsat_df['Enrollment on 10/31'], 4)
shsat_df

In [ ]:
new_df = pd.concat([schools_df, pd.get_dummies(schools_df)], axis=1)
new_df.head()